/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-style {
    @apply text-[30px] bg-offwhite max-lg:text-[25px] max-md:text-[20px] max-sm:text-[17px] text-teal font-poppins font-bold;
  }
}

.btn-edit {
  @apply py-1 max-[1300px]:px-2 px-8 rounded-[5px] bg-teal font-inter font-bold text-base text-white;
}

.btn-hapus {
  @apply py-1 max-[1300px]:px-2 px-8 rounded-[5px] bg-white ml-2 shadow-xl bg-semitransparentwhite text-teal font-inter font-bold text-base;
}

.th-general {
  @apply px-3 py-3 text-left font-bold font-poppins text-black text-base
}

.td-general {
  @apply px-3 py-4 max-[1200px]:px-1
}

.td-text-general {
  @apply font-poppins font-normal leading-4 text-black text-[16px] max-[1200px]:text-[13px]
}

.table-general {
  @apply min-w-full divide-y divide-gray-200 overflow-x-auto
}

.container-table-general {
  @apply overflow-x-auto max-w-full max-[700px]:max-w-[85%]
}

.btn-add {
  @apply bg-teal max-[1300px]:px-3 max-[1100px]:px-1 px-4 py-1 rounded-md text-left font-inter font-semibold text-white text-base
}